body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(./images/eng.avif);
}

.tracker {
  background-color: #cad0be;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px;
  width: 100%;
  color: #4b193a;
}

button {
  padding: 10px 20px;
  background-color: #881f55;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

input[type="date"],
input[type="number"] {
  width: calc(100% - 24px);
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  margin: 8px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: left;
}
